@import url('https://use.typekit.net/waw2dco.css');

:root {
  --red: #990000;
  --white: #f5f5f5
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--red);
  background: url("assets/OU-Background-Red.png");
  background-repeat: repeat;
  background-size: cover;
  margin: auto;
  width: 100%;
}

h1{
  font-family: Abolition, sans-serif;
  font-size: 76px;
  letter-spacing: 2px;
}

h2{
  font-family: Arial, sans-serif;
  font-size: 26px;
  line-height: 34px;
}

h3{
  font-family: Abolition, sans-serif;
  font-size: 55px;
  letter-spacing: 2px;
  color: var(--red) !important;
}

p{
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

/* JUMBOTRON / HEADER */

.jumbotron {
  display: flex;
  justify-content: space-between;
  color: var(--white);
  height: 70vh;
  width: 100%;
  z-index: -2;
}

.flush-left {
  width: 40%
}

.flush-left img {
  justify-content: left;
  position: relative;
  width: 65vh;
  top: -150px;
  left: -150px;
  z-index: -1;
}

.flush-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 60%;
  padding: 0px 50px;
}

.flush-right img {
  width: 400px;
  position: relative;
  padding-top: 30px;
}

/* BODY */
.main {
  z-index: 2;
  background-color: var(--white);
  background-image: url("https://i.pinimg.com/736x/c8/cd/80/c8cd80c1ff123b37d5be09783e812045.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 45px 70px;
}

.tool {
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
}

/* DEMANDS */
.demands {
  font-weight: bold;
  width: 60%;
}

ol {
  font-size: 26px;
  line-height: 34px;
}

button {
  font-family: Arial, sans-serif;
}

.button-group {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: right;
}

.button {
  color: var(--white);
  background-color: var(--red);
  border: none;
  padding: 15px 30px;
  margin: 10px;
  font-weight: bold;
  font-size: 21px;
  width: 60%;
}

/* FAQ */

.faq{
  margin-bottom: 50px;
}

.faq-item {
  border-bottom: 1px solid black;
}

.collapsible {
  width: 100%;
  background-color: transparent;
  color: var(--red);
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 26px;
  text-align: left;
  padding: 10px 0px;
}

.collapsible::after {

  color: var(--red) !important;
  font-weight: bold;
  float: right;
  align-self: flex-end;
  margin-left: 5px;
  content: '+';
}

.active::after {
  align-self: flex-end;
  color: var(--red);
  content: '-';
}

.content {
  display: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  font-size: 21px;
  font-weight: regular;
}

/* FOOTER */

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.footer p{
  text-align: center;
  color: var(--white);
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
}

.rw-sticker {
  height: 10vh;
  margin: 0px auto;
  margin-top: -75px;
}

.ou-flag-footer{
  height: 10vh;
  margin: 0px auto;
  margin-top: -75px;
}

/* MOBILE */

@media screen and (max-width: 768px) {
  .jumbotron {
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .flush-left {
    width: 100%;
    height: 40vh;
    text-align: center;
  }

  .flush-left img {
    justify-content: center;
    width: 100%;
    top: -45%;
    left: 0px;
    z-index: -1;
  }

  .flush-right {
    display: block;
    width: 90%;
    justify-content: center;
    padding: 20px;
  }

  .flush-right img {
    width: 90%;
    padding: 0px;
  }

  .flush-right .header-text {
    padding: 0px;
    text-align: left;
  }

  .tool {
    padding: 0px;
    display: flex;
    flex-direction: column;
  }

  .demands{
    width: 100%;
  }

  .button-group{
    width: 100%;
  }

  .button{
    width: 100%;
  }

  h1{
    font-size: 46px;
    line-height: 55px;
  }

  h2 {
    font-size: 21px;
    line-height: 26px;
  }

  h3 {
    font-size: 34px;
    line-height: 40px;
  }

  ol {
    font-size: 21px;
    line-height: 26px;
  }
  .button-group {
    flex-direction: column;
  }
  
  .collapsible {
    font-size: 21px;
  }

  .content{
    font-size: 16px
  }
  
  .main {
    padding: 25px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    pa
  }

  .footer p{
    font-size: 13px;
  }
  
  .rw-sticker {
    height: 5vh;
    margin-top: -75px;
  }

  .ou-flag-footer{
    height: 5vh;
    margin-top: -75px;
  }
}

/* TABLET */
@media screen and (min-width: 769px) and (max-width: 1024px){
  .jumbotron {
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
  }

  .flush-left {
    height: 40vh;
    text-align: center;
  }

  .flush-left img {
    justify-content: center;
    width: 100%;
    max-width: 370px;
    top: -45%;
    left: 0px;
    z-index: -1;
  }

  .flush-right {
    display: block;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 0px;
  }

  .flush-right img {
    width: 80%;
    left: 0px;
    right: 0px;
    padding-top: 0px;
  }

  .flush-right .header-text {
    padding: 0px;
    width: 90%;
    margin: 20px;
    text-align: left;
  }

  .tool {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
  }

  .demands{
    width: 100%;
  }

  .button-group{
    width: 100%;
  }

  h1{
    font-size: 46px;
    line-height: 55px;
  }

  h2 {
    font-size: 21px;
    line-height: 26px;
  }

  h3 {
    font-size: 46px;
    line-height: 55px;
  }

  ol {
    font-size: 21px;
    line-height: 26px;
  }
  .button-group {
    flex-direction: column;
  }

  .collapsible {
    font-size: 21px;
  }

  .content{
    font-size: 16px
  }

  .main {
    padding: 25px;
  }
}